<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="mainContainer" *ngIf="!logged()">
    <div class="main-div" *ngIf="Registry">
        <button mat-raised-button (click)="Registry=!Registry" id="toggle-linear" style="border-radius: 30px;"><mat-icon>keyboard_arrow_left</mat-icon>Return</button>
        <mat-horizontal-stepper #stepper style="border-radius: 20px; overflow: hidden;">
        <mat-step>
            <form>
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field class="center">
                <input matInput placeholder="email" type="email" [ngModelOptions]="{standalone: true}" [(ngModel)]="dataRegistry.user" required>
            </mat-form-field> <br>
            <mat-form-field class="center">
                <input matInput placeholder="First name" [ngModelOptions]="{standalone: true}" [(ngModel)]="dataRegistry.name" required>
            </mat-form-field> <br>
            <mat-form-field class="center">
                <input matInput placeholder="Last name" [ngModelOptions]="{standalone: true}" [(ngModel)]="dataRegistry.Lname" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
            </form>
        </mat-step>
        <mat-step>
            <form>
            <ng-template matStepLabel>important days</ng-template>
                <mat-form-field class="center">
                    <input [(ngModel)]="dataRegistry.d1" matInput [matDatepicker]="picker" [ngModelOptions]="{standalone: true}" placeholder="your Birthday">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> <br>
                <mat-form-field class="center">
                    <input matInput [(ngModel)]="dataRegistry.d2" [matDatepicker]="picker1" [ngModelOptions]="{standalone: true}" placeholder="when your story start">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field> <br>
                <mat-slide-toggle [(ngModel)]="dataRegistry.config" [ngModelOptions]="{standalone: true}"> share my dates </mat-slide-toggle>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <mat-form-field class="center">
                <input matInput placeholder="Enter a Password" type="password" required [(ngModel)]="dataRegistry.pswd1">
            </mat-form-field> <br>
            <mat-form-field class="center">
                <input matInput placeholder="Repeat your password" type="password" required [(ngModel)]="dataRegistry.pswd2">
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="Registry=registry(dataRegistry)">send</button>
            </div>
        </mat-step>
        </mat-horizontal-stepper>
    </div>
    <div class="main-div" *ngIf="!Registry && !forgot">
        <mat-card class="z-depth center" flex="50" >
            <div align="center">
                <img class="logo" src="../assets/IBM.png" alt="IBM" >
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email" [(ngModel)]="user" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput type="password" placeholder="Password" [(ngModel)]="passwd" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <button mat-button class="btn-submit" (click)="login()" >Login</button>
                    <button mat-button class="btn-submit" (click)="Registry=true" >Registry</button>
                </form>
                <a (click)="forgot=!forgot" class="link">I forgot my password</a>
            </div>
        </mat-card>
    </div>
    <div class="main-div" *ngIf="forgot">
        <button mat-raised-button (click)="forgot=!forgot" id="toggle-linear" style="border-radius: 30px;"><mat-icon>keyboard_arrow_left</mat-icon>Return</button>
        <mat-horizontal-stepper [linear]="isLinear" #stepper style="border-radius: 10px; overflow: hidden;">
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Fill out your name</ng-template>
                <mat-form-field>
                    <input matInput placeholder="mail" formControLName="firstCtrl" [(ngModel)]="user" [ngModelOptions]="{standalone: true}"required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
                </form>
            </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            push on "send my password" and<br>
            you'll receive a mail with your<br>
            password
            <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="recoveryPasswd(userf) && forgot=!forgot">Send my password</button>
            </div>
        </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>
<my-nav *ngIf="logged()"></my-nav>