<div class="mainContainer">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Squad" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
                <B class="Squad">{{option.name}}</B><p class="Tribu">{{option.tribu}}</p>
            </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>

    <mat-form-field class="date example-form-field">
        <input matInput type="text" placeholder="First name" [(ngModel)]="name">
        <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field> <br>

    <mat-form-field class="date example-form-field">
        <input matInput type="text" placeholder="Last Name" [(ngModel)]="lastname">
        <button mat-button *ngIf="lastname" matSuffix mat-icon-button aria-label="Clear" (click)="lastname=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field> <br>
    
    <mat-form-field class="date" align="center">
        <input matInput [matDatepicker]="picker1" placeholder="when did you start you start your adventure in IBM?" [(ngModel)]="IBM_date" >
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 startView="year" ></mat-datepicker>
    </mat-form-field> <br>

    <mat-form-field class="date">
        <input matInput [matDatepicker]="picker2" placeholder="when is your birthday" [(ngModel)]="birthday">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 startView="year" ></mat-datepicker>
    </mat-form-field> <br>
    <button mat-button class="btn-submit" (click)="messaje()" >Save</button>
</div>
