.mainContainer{
    position: relative;
    margin: 5%;
    padding: 5%;
    left: 10%;
    top: 0%;
    background-color: #f8fcff;
    height: 85vh;
    width: 50vw;
}

.date{
    position: relative;
    width: 400px;
}

.btn-submit{
    float: right;
    right: 15%;
    width: 65px;
    height: 40px;
    border-radius: 60px;
    background-color: rgb(163, 227, 230);
}

.Tribu{
    position: relative;
    color:gray;
    font-size: 12px;
    float: right;
    right: 0;
    top: 10px;
}

.Squad{
    position: relative;
    color:rgb(65, 63, 63);
    font-size: 16px;
    float: left;
    left: 0;
    top: 10px;
}