mat-grid-list{
    position: relative;
    height: 100%;
}
mat-grid-tile {
    background-image: url("../../assets/fondo5.jpg");
    background-repeat: cover;
    background-size: 100% 100%;
    -webkit-transition: background-image .5s ease-in-out;
    transition: background-image .5s ease-in-out;
}
mat-grid-tile:hover{
    cursor: pointer;
    background-image: url("../../assets/fondo4.jpg");
    background-repeat: cover;
    background-size: 100% 100%;
}
.background{
    -webkit-transition: background-image .5s ease-in-out;
    transition: background-image .5s ease-in-out;
}
.miniCard{
    position: relative;
    padding: 10px;
    width: 70%;
    height: 70%;
    background-color: rgba(231, 231, 231, 0.9);
}
.p1{
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    font-size: 2.6vw;
}
.p2{
    position: absolute;
    font-size: 1.8vw;
    font-family: fantasy;
    font-style: oblique;
    top: 5vw;
}
.p3{
    position: absolute;
    font-size: 1.2vw;
    right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    bottom: 20px;
}
.btn-addEvent{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    color: rgb(0, 0, 0);
    font-size: 50px;
    background-color: rgb(92, 173, 156);
}
.btn-addEvent:hover{
    background-color: rgb(117, 214, 193);
}

.editor{
    position: absolute;
    padding: 10px;
    width: 100vh;
    height: 100vw;
    background-color: rgba(255, 0, 0, 0.9);
}
.date{
    position: relative;
    width: 400px;
}
.btnBack{
    position: fixed;
    color: rgb(0, 0, 0);
    font-size: 25px;
    background-color: transparent;
    border: 0;
}
.iconBack{
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 80px;
    top:-20px;
    left: 20px;
}

.center{
    width: 220px;
    height: 50px;
    margin: 0px auto;
    top: 30px;
    background-color: transparent;
    border-radius: 10px;
  }

.center > button {
    width: 100px;
    height: 40px;
    margin:5px;
    border-radius: 10px;
    background-color: rgb(99, 140, 228);
    color: white;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    border: 2px solid rgb(13, 33, 63);
} 
.example-full-width {
    width: 50%;
}
.btn-view{
    text-decoration: none;
    width: 40px;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 6px;
    background-color: rgb(105, 143, 226);
    color: white;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    border: 2px solid rgb(13, 33, 63);
}

.btn-view:hover{
    background-color: rgb(79, 111, 179);
}